div, section, main,
header, footer, button {
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    align-items: center;
}

.column-container {
    @extend .flex-container;
    flex-direction: column;
}

@font-face {
    font-family: 'Segoe UI Regular';
    src: url('SegoeUI.eot');
    src: url('SegoeUI.eot?#iefix') format('embedded-opentype'),
    url('SegoeUI.woff') format('woff'),
    url('SegoeUI.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }