body {
    font-family: 'Comic Sans Ms';
    font-size: medium;
}
#main {
    border: 3px solid;
    width: 800px;
    height: 600px;
    flex-direction: column;
    margin: auto;
    border-radius: 8px;
}
#upper {
    border-bottom: solid;
    flex: 0 0 67px;
    background-color: bisque;
}
#middle {
    flex-direction: column;
    overflow: auto;
    background-color: rgb(231, 219, 204);
}
.left {
    align-items: center;
    justify-content: space-evenly;
    flex: 0 0 147px;
    border-right: solid;
    margin:0 10px 0 5px;
}
.ini {
    border: solid;
    padding: 15px;
    border-radius: 50%;
    background-color: bisque;
}
.time {
    flex-basis: 0%;
}
.right {
    flex-direction: column;
    margin: 10px;
}
.name {
    margin: 0 0 5px 18px;
}
.text {
    border: solid;
    padding: 5px;
    border-radius: 10px;
    text-indent: 10px;
    hyphens: auto;
    background-color: rgb(243, 237, 230);
}